<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('/catalogue/styles') %>
  </head>
  <body>

    <header class="header">
        <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">News</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">FAQ / Support</a>
            </li>
          </ul>
          <div class="basket">
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px", alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
    <main>
      <section class="catalogue__components">
        <div class="container">
          <h2 class="components__title-all">Catalogue</h2>
          <div class="component__logo all__components">
            <% @components.each do |component| %>
              <div class="component__item">
                <div class="component__title-main"><%= link_to component.title, "/components/#{component.id}" %></div>
                <%= image_tag(component.image) %>
                <div class="component__description">
                  <%= component.brand %><br>
                  <span class="description__label">Rating:</span>
                  <% rating = component.rating.round(1) %>
                  <span class="stars">
                    <% for i in 1..5 do %>
                      <% if rating >= i %>
                        <%= image_tag('bg/star.png') %>
                      <% elsif rating >= i - 0.5 && rating < i %>
                        <%= image_tag('bg/half-star.png') %>
                      <% else %>
                        <%= image_tag('bg/empty-star.png') %>
                      <% end %>
                    <% end %>
                  </span>
                  <br>
                  <span class="description__label">Price: <%= component.price %></span> $USD<br>
                  <%= link_to 'See more', "/components/#{component.id}" %>
                </div>
              </div>
            <% end %>
            <h3 class="note">
              Please note that the provided accessories are not all that we have on the site, 
              for information about any part, please contact support, we probably have the part you are interested in,
              even if it is not on this page! The configurator section provides a wider selection of accessories,
              feel free to try them out!
            </h3>
          </div>
        </div>
      </section>
    </main>
<!-- header section ends -->
    <footer class="footer">
      <nav class="nav">
          <div class="logo" href="#">
            <a class="logo" href="#">Pcfg</a>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Catalogue</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">News</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">FAQ / Support</a>
            </li>
          </ul>
          <ul class="social" href="#">
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/yt.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/tg.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/inst.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
          </ul>
        </nav>
    </footer>
    </div>
  </body>
</html>