<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Catalogue</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/catalogue/styles') %>
  </head>
  <body>
<!-- header section starts -->
        <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
    <main class="catalogue-main">
      <section class="catalogue__components">
        <span class="all-types__components">
          <span class="all-types__component"><%= link_to "RAM", rams_path %></span>
          <span class="all-types__component"><%= link_to "Rigs", rigs_path %></span>
          <span class="all-types__component"><%= link_to "Cooler", coolers_path %></span>
          <span class="all-types__component"><%= link_to "CPU", cpus_path %></span><br>
          <span class="all-types__component"><%= link_to "GPU", gpus_path %></span>
          <span class="all-types__component"><%= link_to "HDD", hdds_path %></span>
          <span class="all-types__component"><%= link_to "Motherboard", motherboards_path %></span>
          <span class="all-types__component"><%= link_to "Power supply", power_supplies_path %></span><br>
          <span class="all-types__component"><%= link_to "SSD", ssds_path %></span>
        </span>
        <div class="container">
          <h2 class="components__title-all">Catalogue</h2>
          <p class="subtitle__main blink">Popular choices</p>
          <div class="component__logo all__components">
            <% @components.each do |component| %>
              <div class="component__item">
                <div class="component__title-main"><%= link_to component.title, "/components/#{component.id}" %></div>
                <%= image_tag(component.image) %>
                <div class="component__description"><br>
                  <%= component.brand %>
                  <span class="description__label"></span>
                  <% rating = component.rating.round(1) %>
                  <span class="stars">
                    <% for i in 1..5 do %>
                      <% if rating >= i %>
                        <%= image_tag('bg/star.png') %>
                      <% elsif rating >= i - 0.5 && rating < i %>
                        <%= image_tag('bg/half-star.png') %>
                      <% else %>
                        <%= image_tag('bg/empty-star.png') %>
                      <% end %>
                    <% end %>
                  </span>
                  <span class="availability">Available to buy now? <%= component.availability %></span>
                  <span class="price__label">Price: <%= component.price %> $USD</span>
                  <span class="more__info"><%= link_to 'See more', "/components/#{component.id}" %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <h3 class="note">
          Please note that the provided accessories are not all that we have on the site,
          for information about any part, please contact support, we probably have the part you are interested in,
          even if it is not on this page! The configurator section provides a wider selection of accessories,
          feel free to try them out!
        </h3>
      </section>
    </main>
<!-- main section ends -->
<!-- footer section starts -->
      <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
