<h1>MAIN PAGE</h1>

<p class="mt"><%= link_to "All components", components_path %></p>
<p class="mt"><%= link_to "About us", about_path %></p>
<p class="mt"><%= link_to "My Cart", cart_path %></p>
<p class="mt"><%= link_to "Shipping", delivery_path %></p>
<p class="mt"><%= link_to "Contact us / Support", support_path %></p>