<!DOCTYPE html>
<html>
  <head>
    <title>PCFG News</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/news/styles') %>
  </head>
  <body>
<!-- header section starts -->
        <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
  <main class="news__main">
      <section class="first-news">
        <div class="container">
          <h1 class="category__news">Gaming news</h1>
          <div class="news__item">
            <div class="news__text">
              <h2 class="news__title">Elden Ring Fan Makes a Timeline of Wars in The Lands Between</h2>
            </div>
            <div class="news__image">
              <%= image_tag("news/er.jpg") %>
            </div>
            <div class="news__text">
              <p class="news__description">One highly informed Elden Ring player makes a timeline of the wars that happened throughout The Lands Between. The world of Elden Ring is full of conflict as it has seen numerous violent encounters and wars over several centuries. Beings from multiple factions inhabit The Lands Between, and it’s only natural that some groups will have disagreements, leading to violent conflicts. Currently, The Golden Order sits at the top of the power structure, thanks to the contribution of prominent figures like Queen Marika, Radagon, and Godfrey.</p>
              <p class="news__description">However, the current power dynamics of The Lands Between result from multiple wars over hundreds of years between several groups. The war of The Shattering is one of the most famous and crucial wars in Elden Ring’s lore, as the demigod children of Radagon and Marika fought over the control of Great Runes. Many other wars took place before the events of Elden Ring began, and one meticulous gamer has made a comprehensive timeline showing every major violent conflict.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="second-news">
        <div class="container">
          <div class="news__item">
            <div class="news__text">
              <h2 class="news__title">CD Projekt Red Can’t Seem to Decide if ‘Polaris’ Is The Witcher 4 or Not</h2>
            </div>
            <div class="news__image">
              <%= image_tag("news/w4.jpg") %>
            </div>
            <div class="news__text">
              <p class="news__description">At long last, CDPR has finally referred to the next game in its upcoming The Witcher saga as "Witcher 4," but it seems as though this may have been a "slip of the tongue" from the studio's CEO. Despite the backlash over Cyberpunk 2077's controversial launch at the end of 2020, CD Projekt Red is in great financial shape, helped by the fact that the dystopian sci-fi RPG has been through significant changes to make it better, not to mention all the upcoming projects from the Polish developer.</p>
              <p class="news__description">Given the code name "Polaris," a new game in the overarching Witcher series is currently in development and will form part of the next saga in the fantasy franchise. Since it was announced in 2022, CDPR has insisted this new Witcher game will not be numbered. In fact, not much is really known about the game or even if this mysterious Polaris is indeed the The Witcher 4. However, it seems as though a nugget of information may have slipped out.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="third-news">
        <div class="container">
          <div class="news__item">
            <div class="news__text">
              <h2 class="news__title">World of Warcraft: Dragonflight Mythic Season 2 Unveils Challenging New Affixes</h2>
            </div>
            <div class="news__image">
              <%= image_tag("news/wow.jpg") %>
            </div>
            <div class="news__text">
              <p class="news__description">Mythic Keystone dungeons are getting an overhaul in Season 2 of Dragonflight, and one of the major changes involves the introduction of new affixes to the weekly rotation in World of Warcraft. Affixes have always been a hotly debated aspect of the Mythic dungeon experience, as many players find certain affixes to detract from their fun when doing Keystones instead of providing a challenge. Dragonflight Mythic Season 2 is removing seasonal affixes in an attempt to address the shortcomings of the system, but much like the developers promised in the initial interviews for Embers of Neltharion, the overhaul will be far more substantial.</p>
              <p class="news__description">Patch 10.1 of Dragonflight introduces a new zone for the players to explore, and those preparing for Mythic Keystones in Season 2 will be able to make use of the new gearing system in Zaralek Cavern to get their alts up to speed. With the loss of seasonal affixes, and the removal of a few affixes such as Volcanic, Grievous, and Quaking, the developers have made room for new ones to fill the void.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="fourth-news">
        <div class="container">
          <div class="news__item">
            <div class="news__text">
              <h2 class="news__title">Diablo 4 Stats Reveal Most Popular Classes</h2>
            </div>
            <div class="news__image">
              <%= image_tag("news/diablo.jpg") %>
            </div>
            <div class="news__text">
              <p class="news__description">Blizzard has shared the two most popular Diablo 4 classes from its recent open beta weekend, as part of an infographic detailing various interesting statistics. For Diablo 4's open beta, Blizzard unlocked all five of the game's final classes: Barbarian, Druid, Necromancer, Rogue, and Sorcerer. All five classes have a history going back to previous releases in the Diablo franchise. It's always been interesting to consider which of Diablo 4's classes will prove more popular than the others, though.</p>
              <p class="news__description">Class popularity in Diablo games has become a surprisingly transparent statistic recently. That's because both Diablo 3 and Diablo 2: Resurrected feature seasonal leaderboards that allow players to see which classes are popular. For Diablo 3's early 2023 Season 28, Wizard and Necromancer are two popular classes. For Diablo 2: Resurrected, Sorcerer is the most popular and Paladin is the second most popular, with Necromancer a distant third. Whether that carries over into Diablo 4 is an interesting question.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="fifth-news">
        <div class="container">
          <div class="news__item">
            <div class="news__text">
              <h2 class="news__title">Apex Legends Leak Hints at Season 17 New Legend</h2>
            </div>
            <div class="news__image">
              <%= image_tag("news/apex.jpg") %>
            </div>
            <div class="news__text">
              <p class="news__description">A new Apex Legends leak suggests that Ballistic, AKA Caliber, could be the next legend introduced in the game. Speculation about the new character indicates that he may be the son of Kuben Blisk, the main villain of the Titanfall series, who also appeared in Apex Legends previously.</p>
              <p class="news__description">Apex Legends Season 16 brought several improvements to the game, such as a brand-new assault rifle, diverse skins, music packs, and more. However, no new legend was introduced in the update, which was unusual for Apex Legends. Despite this, soon after the release of its 16th season, Apex Legends hit a record player count on Steam.</p>
            </div>
          </div>
        </div>
      </section>
  </main>
<!-- main section ends -->
<!-- footer section starts -->
      <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
