<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('/news/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <header class="header">
        <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">FAQ / Support</a>
            </li>
          </ul>
          <div class="basket">
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px", alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
<!-- main section starts -->
   <main>
      <section class="news__main">
        <div class="container">
          <h2 class="news__title">Gaming News</h2>
          <div class="news__box news__logo">
            <div class="news__item">
              <%= image_tag("news/er.jpg", width: '350px', height: '300px', alt:"") %>
              <div class="news__text">
                <h3 class="news__box-title">Elden Ring Fan Makes a Timeline of Wars in The Lands Between.</a></h3>
                <p class="news__box-description">One highly informed Elden Ring player makes a timeline of
                 the wars that happened throughout The Lands Between. The world of Elden Ring is full of conflict 
                 as it has seen numerous violent encounters and wars over several centuries. Beings from multiple 
                 factions inhabit The Lands Between, and it’s only natural that some groups will have disagreements, leading to violent conflicts.
                 Currently, The Golden Order sits at the top of the power structure, thanks to the contribution of 
                 prominent figures like Queen Marika, Radagon, and Godfrey. However, the current power dynamics of 
                 The Lands Between result from multiple wars over hundreds of years between several groups. The 
                 war of The Shattering is one of the most famous and crucial wars in Elden Ring’s lore, as the 
                 demigod children of Radagon and Marika fought over the control of Great Runes. Many other wars 
                 took place before the events of Elden Ring began, and one meticulous gamer has made a 
                 comprehensive timeline showing every major violent conflict.
                </p>
              </div>
            </div>
            <div class="news__item">
              <%= image_tag("news/re4.jpg", width: '350px', height: '300px', alt:"") %>
              <div class="news__text">
                <h3 class="news__box-title">Resident Evil 4 Sells Tremendously Well in Its First Two Days.</a></h3>
                <p class="news__box-description">Capcom's recent remake of Resident Evil 4 has been experiencing 
                tremendous success since it launched, and it's been revealed that the game sold more than three 
                million units in just a couple of days. Horror games seem to be selling well at the moment, 
                proving that the genre is as strong as ever. Scary video games may not be to everyone's taste, 
                but with a lot to look forward to from both the AAA and indie scenes, there's plenty of choice on offer for fans.
                Since releasing on March 24, Resident Evil 4 has been met with high praise, with the game being 
                particularly noteworthy for its ability to retain what made the original so special while giving 
                it a much-appreciated contemporary makeover. There are some who even feel it may have surpassed 
                its predecessor in terms of quality. Even before the game launched, people had high hopes for 
                it, thanks in part to the demo that gave players a tiny slice of things to come.
                </p>
              </div>
            </div>
            <div class="news__item">
              <%= image_tag("news/valheim.jpg", width: '350px', height: '300px', alt:"") %>
              <div class="news__text">
                <h3 class="news__box-title">Valheim Update Puts Player's House in Unfortunate Position.</a></h3>
                <p class="news__box-description">One Valheim player has found that his base wasn't quite where he 
                 left it when he returned to the game after a recent update. A lot of hard work goes into crafting 
                 bases in Valheim and protecting them against unfortunate disasters is a big part of the game.
                  Because of Valheim's procedural generation, updates can sometimes spell havoc for players' 
                  established worlds. Terrain may change entirely, there may be rivers or hills where there was 
                  once dry ground or plains. Despite Valheim recently being added to Xbox Game Pass, it is still 
                  in early access, and as a result, updates are very common, meaning homes players have labored 
                  over are occasionally at risk.
                  Reddit user Q_Man_17 shared the unfortunate position he found his own base in when returning to 
                  the game after an update. It was perched precariously atop a natural rock hill surrounded by 
                  lashing waves, with no apparent way of reaching it. Understandably frustrating, this can 
                  sometimes happen in the game as it frequently updates and the procedurally generated game world 
                  is unpredictably changed.
                </p>
              </div>
            </div>
            <div class="news__item">
              <%= image_tag("news/fh5.jpg", width: '350px', height: '300px', alt:"") %>
              <div class="news__text">
                <h3 class="news__box-title">Forza Horizon 5 Adds Tuning Options, Body Kits, and More in Free Seasonal Update.</a></h3>
                <p class="news__box-description">Forza Horizon 5 is getting its all-new Rally Adventure DLC on 
                 March 29, but developer Playground Games is also using the opportunity to deploy a substantial 
                 new seasonal update that's free for all players. Ever since FH5 launched in 2021, Playground has 
                 been putting out free post-launch content at a brisk pace, and this is seemingly bound to continue 
                 even after the supposedly final DLC pack comes out.
                 Notably, while there's a significant chunk of paid content being added with Forza Horizon 5's 
                 Rally Adventure that players will need to purchase, there seems to be no shortage of free goodies 
                 coming along too. Featured as part of the new seasonal update, Midnights at Horizon, this batch 
                 of content also includes DLSS 3.0 and steering wheel rotation support, lending more flexibility 
                 to the technical side of the game.
                </p>
              </div>
            </div>
            <div class="news__item">
              <%= image_tag("news/tlou.jpg", width: '350px', height: '300px', alt:"") %>
              <div class="news__text">
                <h3 class="news__box-title">Some Last of Us PC Players Are Experiencing Hour-Long Loading Times.</a></h3>
                <p class="news__box-description">Some gamers have reported experiencing hour-long load times while 
                 playing The Last of Us Part 1 on PC. The game is a remake of the PS3 original from 2013 and 
                 features upgraded visuals and redone character models. It came out on PS5 in September 2022 and 
                 released for PC on March 28, 2023, with the PC port being handled by Naughty Dog and Iron Galaxy.
                  It looks like players have been dealing with numerous issues with the PC version of The Last of 
                  Us Part 1, resulting in it getting review bombed on Steam. The Last of Us Part 1 currently has 
                  a rating of “Mostly Negative” on that storefront, with many users expressing their 
                  disappointment with the game’s optimization. It seems like several gamers are experiencing 
                  crashes while trying to play The Last of Us Part 1 on PC, despite being above the recommended 
                  hardware specs, with some players also running into ridiculously long loading times when trying 
                  to play the game.
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>
  </main>

<!-- main section ends -->
<!-- footer section starts -->
    <footer class="footer">
      <nav class="nav">
          <div class="logo" href="#">
            <a class="logo" href="#">Pcfg</a>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Catalogue</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">News</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">FAQ / Support</a>
            </li>
          </ul>
          <ul class="social" href="#">
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/yt.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/tg.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/inst.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
          </ul>
        </nav>
    </footer>
<!-- footer section ends -->
    </div>
  </body>
</html>