<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Catalogue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('/news/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <header class="header">
        <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'About Us', about_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <div class="basket">
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px", alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
<!-- main section starts -->
   <main class="news__main">
      <div class="container">
        <h2 class="category__news">Gaming news</h2>
        <div class="news__item">
          <div class="news__text">
            <h2 class="news__title">Elden Ring Fan Makes a Timeline of Wars in The Lands Between</h2>
          </div>
          <div class="news__image">
            <%= image_tag("news/er.jpg") %>
          </div>
          <div class="news__text">
            <p class="news__description">One highly informed Elden Ring player makes a timeline of the wars that happened throughout The Lands Between. The world of Elden Ring is full of conflict as it has seen numerous violent encounters and wars over several centuries. Beings from multiple factions inhabit The Lands Between, and it’s only natural that some groups will have disagreements, leading to violent conflicts. Currently, The Golden Order sits at the top of the power structure, thanks to the contribution of prominent figures like Queen Marika, Radagon, and Godfrey. However, the current power dynamics of The Lands Between result from multiple wars over hundreds of years between several groups. The war of The Shattering is one of the most famous and crucial wars in Elden Ring’s lore, as the demigod children of Radagon and Marika fought over the control of Great Runes. Many other wars took place before the events of Elden Ring began, and one meticulous gamer has made a comprehensive timeline showing every major violent conflict.</p>
          </div>
        </div>
      </div>
    </main>
<!-- main section ends -->
<!-- footer section starts -->
    <footer class="footer">
      <nav class="nav">
          <div class="logo" href="#">
            <a class="logo" href="#">Pcfg</a>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Catalogue</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">News</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <ul class="social" href="#">
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/yt.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/tg.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <%= image_tag ("logos/inst.png"), height:"40px" ,alt:"cart" %>
              </a>
            </li>
          </ul>
        </nav>
    </footer>
<!-- footer section ends -->
    </div>
  </body>
</html>