<h1>Create new CPU</h1>

<%= form_with(model: @cpu, local: true) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :socket %>
    <%= form.text_field :socket, class: 'form-control' %><br>
    <%= form.label :core_count %>
    <%= form.number_field :core_count, class: 'form-control' %><br>
    <%= form.label :thread_count %>
    <%= form.text_field :thread_count, class: 'form-control' %><br>
    <%= form.label :base_clock %>
    <%= form.text_field :base_clock, class: 'form-control' %><br>
    <%= form.label :boost_clock %>
    <%= form.text_field :boost_clock, class: 'form-control' %><br>
    <%= form.label :tdp %>
    <%= form.text_field :tdp, class: 'form-control' %><br>
    <%= form.label :compatible_socket %>
    <%= form.text_field :compatible_socket, class: 'form-control' %><br>
    <%= form.label :cache %>
    <%= form.text_field :cache, class: 'form-control' %><br>
    <%= form.label :memory_frequency %>
    <%= form.number_field :memory_frequency, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.01, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', cpus_path %>
