<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
  <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <div class='reg-main'>
        <h2 class='step1-title'>Log in</h2>
        <%= form_with scope: :session, url: session_path do |form| %>
          <div class="form-field_login">
            <%= form.label :email %><br>
            <%= form.text_field :email, class:'black-input' %>
          </div>
          <div class="form-field_login">
            <%= form.label :password %><br>
            <%= form.password_field :password, class:'black-input' %>
          </div>
          <p></p>
          <div class="login-btns">
            <%= form.submit 'log in', class: "login-btn_action" %>
            <%= link_to "don't have an account?", new_user_path, class: "login-btn_action login-btn_action-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
<!-- main section ends -->
<!-- footer section starts -->
  <%= render 'layouts/footer' %>
<!-- footer section ends -->
