
<div class="container">
  <h2 class="title-lg mb">New component</h2>
  <%= form_with model: @component do |form| %>
    <p><%= form.label :title, 'title' %></p>
    <p><%= form.text_area :title, class: 'form-text-area' %></p>
    <p><%= form.label :description, 'description' %></p>
    <p><%= form.text_area :description %></p>
    <p><%= form.label :country, 'country' %></p>
    <p><%= form.text_area :country %></p>
    <p><%= form.label :brand, 'brand' %></p>
    <p><%= form.text_area :brand %></p>
    <p><%= form.label :market_date, 'release date' %></p>
    <p><%= form.text_area :market_date %></p>
    <p><%= form.label :size, 'size' %></p>
    <p><%= form.text_area :size %></p>
    <p><%= form.label :connectors, 'connectors' %></p>
    <p><%= form.text_area :connectors %></p>
    <p><%= form.label :guarantee, 'guarantee, months' %></p>
    <p><%= form.text_area :guarantee %></p>
    <p><%= form.label :complete_set, 'complete set' %></p>
    <p><%= form.text_area :complete_set %></p>
    <p><%= form.label :rating, 'rating' %></p>
    <p><%= form.text_area :rating %></p>
    <p><%= form.label :weight, 'weight, g.' %></p>
    <p><%= form.text_area :weight %></p>
    <p><%= form.label :price, 'price, USD$' %></p>
    <p><%= form.text_area :price %></p>
    <p><%= form.label :availability, 'availability' %></p>
    <p><%= form.text_area :availability %></p>
    <p class="mt"><%= form.label :user_id, 'user ID' %></p>
    <p><%= form.text_area :user_id, class: 'form-text-area' %></p>
    <p class="mt"><%= form.submit 'Add new component!', class: 'button button-main' %></p>
  <% end %>
</div>
