
<!--<div class="container">
  <h2 class="title-lg mb">New component</h2>
  <%= form_with model: @component do |form| %>
    <p><%= form.label :title, 'title' %></p>
    <p><%= form.text_area :title, class: 'form-text-area' %></p>
    <p><%= form.label :description, 'description' %></p>
    <p><%= form.text_area :description %></p>
    <p><%= form.label :country, 'country' %></p>
    <p><%= form.text_area :country %></p>
    <p><%= form.label :brand, 'brand' %></p>
    <p><%= form.text_area :brand %></p>
    <p><%= form.label :market_date, 'release date' %></p>
    <p><%= form.text_area :market_date %></p>
    <p><%= form.label :size, 'size' %></p>
    <p><%= form.text_area :size %></p>
    <p><%= form.label :connectors, 'connectors' %></p>
    <p><%= form.text_area :connectors %></p>
    <p><%= form.label :guarantee, 'guarantee, months' %></p>
    <p><%= form.text_area :guarantee %></p>
    <p><%= form.label :complete_set, 'complete set' %></p>
    <p><%= form.text_area :complete_set %></p>
    <p><%= form.label :rating, 'rating' %></p>
    <p><%= form.text_area :rating %></p>
    <p><%= form.label :weight, 'weight, g.' %></p>
    <p><%= form.text_area :weight %></p>
    <p><%= form.label :price, 'price, USD$' %></p>
    <p><%= form.text_area :price %></p>
    <p><%= form.label :availability, 'availability' %></p>
    <p><%= form.text_area :availability %></p>
    <p class="mt"><%= form.label :user_id, 'user ID' %></p>
    <p><%= form.text_area :user_id, class: 'form-text-area' %></p>
    <p class="mt"><%= form.submit 'Add new component!', class: 'button button-main' %></p>
  <% end %>
</div>
-->
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG New Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
<!-- header section starts -->
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo">
            <%= image_tag("logos/logo.png", :alt => "logo img", width: '100px', class:"logo__img") %>
          </a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Home</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Catalogue</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Configurator</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">News</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">About us</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">FAQ/Support</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">My Cart</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<!-- header section ends -->
    <main class="main">
    </main>
    <footer class="footer">
      <div class="container">
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <p class="footer__menu-title">Products</p>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Catalogue</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Configurator</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Sell your component!</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <p class="footer__menu-title">Resources</p>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">News</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">FAQ</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Contact us</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <p class="footer__menu-title">Work with PCFG</p>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Partners</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Support project</a>
            </li>
          </ul>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <p class="footer__menu-title">About</p>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">About us</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Team</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Careers</a>
            </li>
          </ul>
        </nav>
        <ul class="app">
          <li class="app__item">
            <a class="app__item-link" href="#">
              <%= image_tag("apps/appstore.svg", :alt => "get it on appstore", width: '203px', class:"app__item-img") %>
            </a>
          </li>
          <li class="app__item">
            <a class="app__item-link" href="#">
              <%= image_tag("apps/googleplay.svg", :alt => "get it on google play", width: '200px', class:"app__item-img") %>
            </a>
          </li>
        </ul>
        <div class="footer__copy">
          <p class="footer__copy-text">
            For questions about PCFG Computer parts configurator & shop please call 1-888-777-6666.
            Certified sellers are contractually obligated by PCFG to meet certain customer
            service requirements and complete the
            PCFG Seller Certification Program.
          </p>
          <p class="footer__copy-text">
            PCFG does not broker or sell computer components. Unless otherwise noted, all
            components shown on this website are
            offered for sale by licensed computer parts sellers. All components are subject to
            prior sale. By accessing this websitee,
            you agree to the PCFG Term of Service and Privacy Policy.
          </p>
        </div>
        <nav class="copy__nav">
          <ul class="copy__nav-list">
            <li class="copy__nav-item">
              <a class="copy__nav-link" href="#">Terms of Service</a>
            </li>
            <li class="copy__nav-item">
              <a class="copy__nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="copy__nav-item">
              <a class="copy__nav-link" href="#">Site is fully pet-project @railsenjoyer  (all information is fake)</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    </div>
  </body>
</html>

