<div class="container">
	<h1 class="title-lg mb"><%= @component.title %></h1>
	<p>short info: <%= @component.description %></p>
	<p>producer: <%= @component.brand %></p>
	<p>market launch date: <%= @component.market_date %></p>
	<p>producer-country: <%= @component.country %></p>
	<p>size: <%= @component.size %></p>
	<p>connectors: <%= @component.connectors %></p>
	<p>guarantee: <%= @component.guarantee %> months</p>
	<p>compltete set: <%= @component.complete_set %></p>
	<p>rating: <%= @component.rating %></p>
	<p>weight: <%= @component.weight %> g.</p>
	<p>price: <%= @component.price %> USD$</p>
	<p>available to buy now? <%= @component.availability %></p>
	<p class="mt">added by user with ID: <%= @component.user_id %></p>

	<div>
		<%= link_to "Edit component", edit_component_path(@component) %>
		<%= button_to 'Delete component', component_path(@component), method: :delete %>
	</div>

	<p class="mt"><%= link_to "All components", catalogue_path %></p>
</div>