<h2>Edit POWER_SUPPLY</h2>
<%= form_with(model: @power_supply, url: power_supply_path(@power_supply), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :wattage %>
    <%= form.number_field :wattage, class: 'form-control' %><br>
    <%= form.label :efficiency %>
    <%= form.number_field :efficiency, class: 'form-control' %><br>
    <%= form.label :form_factor %>
    <%= form.text_field :form_factor, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.01, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <% if @power_supply.image.attached? %>
      <div>
        <%= image_tag(@power_supply.image) %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit 'Update POWER SUPPLY' %>
  </div>
<% end %>
