<h2>Edit HDD</h2>
<%= form_with(model: @hdd, url: hdd_path(@hdd), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :capacity %>
    <%= form.number_field :capacity, class: 'form-control' %><br>
    <%= form.label :interface %>
    <%= form.number_field :interface, class: 'form-control' %><br>
    <%= form.label :form_factor %>
    <%= form.text_field :form_factor, class: 'form-control' %><br>
    <%= form.label :rpm %>
    <%= form.text_field :rpm, class: 'form-control' %><br>
    <%= form.label :compatible_interface %>
    <%= form.text_field :compatible_interface, class: 'form-control' %><br>
    <%= form.label :speed %>
    <%= form.text_field :speed, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <% if @hdd.image.attached? %>
      <div>
        <%= image_tag(@hdd.image) %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit 'Update HDD' %>
  </div>
<% end %>
