<h1>Create new HDD</h1>

<%= form_with(model: @hdd, local: true) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :capacity %>
    <%= form.number_field :capacity, class: 'form-control' %><br>
    <%= form.label :interface %>
    <%= form.text_field :interface, class: 'form-control' %><br>
    <%= form.label :form_factor %>
    <%= form.text_field :form_factor, class: 'form-control' %><br>
    <%= form.label :rpm %>
    <%= form.text_field :rpm, class: 'form-control' %><br>
    <%= form.label :compatible_interface %>
    <%= form.text_field :compatible_interface, class: 'form-control' %><br>
    <%= form.label :speed %>
    <%= form.text_field :speed, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.01, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', hdds_path %>
