
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @hdd.model %></h1>
      <% if @hdd.image.attached? %>
        <div>
          <%= image_tag(@hdd.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Бренд: <%= @hdd.brand %></p>
        <p>Цена: <%= number_to_currency(@hdd.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_hdd_path(@hdd) %>
        <%= button_to 'Delete component', hdd_path(@hdd), method: :delete %><br>
        <%= link_to "All HDDs", hdds_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
