<h2>Edit Game</h2>
<%= form_with(model: @game, url: game_path(@game), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %><br>
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %><br>
    <%= form.label :release_date %>
    <%= form.date_field :release_date, class: 'form-control' %><br>
    <%= form.label :req_cpu_core_count %>
    <%= form.number_field :req_cpu_core_count, class: 'form-control' %><br>
    <%= form.label :req_cpu_thread_count %>
    <%= form.number_field :req_cpu_thread_count, class: 'form-control' %><br>
    <%= form.label :req_cpu_clock %>
    <%= form.number_field :req_cpu_clock, step: 0.01, class: 'form-control' %><br>
    <%= form.label :req_cpu_cache %>
    <%= form.number_field :req_cpu_cache, class: 'form-control' %><br>
    <%= form.label :req_gpu_memory %>
    <%= form.number_field :req_gpu_memory, class: 'form-control' %><br>
    <%= form.label :req_gpu_core_clock %>
    <%= form.number_field :req_gpu_core_clock, step: 0.01, class: 'form-control' %><br>
    <%= form.label :req_gpu_bus_width %>
    <%= form.number_field :req_gpu_bus_width, class: 'form-control' %><br>
    <%= form.label :req_hdd_capacity %>
    <%= form.number_field :req_hdd_capacity, class: 'form-control' %><br>
    <%= form.label :req_ram_memory %>
    <%= form.number_field :req_ram_memory, class: 'form-control' %><br>
    <%= form.label :req_ssd_capacity %>
    <%= form.number_field :req_ssd_capacity, class: 'form-control' %><br>
    <%= form.label :min_budget %>
    <%= form.number_field :min_budget, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <% if @game.image.attached? %>
      <div>
        <%= image_tag(@game.image, width: 300) %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit 'Update Game' %>
  </div>
<% end %>
