<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main>
    <div class="game__show-style">
      <h2 class="components__title-all">Games</h2>
        <div class="container">
          <div class="component__logo all__components">
            <% @games.each do |game| %>
              <div class="component__item">
                <div class="component__title-main"><%= link_to game.title, "/games/#{game.id}" %></div>
                <%= image_tag(game.image) %>
                <div class="component__description"><br>
                  <%= game.title %>
                  <span class="more__info"><%= link_to 'See more', "/games/#{game.id}" %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>