<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
  <main>
    <div class="game__show-style">
      <div class="container">
        <h1><%= @game.title %></h1>
        <% if @game.image.attached? %>
          <div>
            <%= image_tag(@game.image) %>
          </div>
        <% end %>
        <div class="main__component-info">
          <p><%= @game.description %></p>
        </div>
        <div class="action-buttons__all">
          <%= link_to "Edit game", edit_game_path(@game) %>
          <%= button_to 'Delete game', game_path(@game), method: :delete %><br>
          <%= link_to "All games", games_path %>
        </div>
      </div>
    </div>
  </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
