<h2>Edit RAM</h2>
<%= form_with(model: @ram, url: ram_path(@ram), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :memory %>
    <%= form.number_field :memory, class: 'form-control' %><br>
    <%= form.label :memory_speed %>
    <%= form.number_field :memory_speed, class: 'form-control' %><br>
    <%= form.label :memory_type %>
    <%= form.text_field :memory_type, class: 'form-control' %><br>
    <%= form.label :timings %>
    <%= form.text_field :timings, class: 'form-control' %><br>
    <%= form.label :voltage %>
    <%= form.text_field :voltage, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: "0.01", class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: "0.01", class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
      <% if @ram.image.attached? %>
      <div>
        <%= image_tag(@ram.image) %>
      </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= form.submit 'Update RAM' %>
  </div>
<% end %>
