
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @ram.brand %></h1>
      <% if @ram.image.attached? %>
        <div>
          <%= image_tag(@ram.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Model: <%= @ram.model %></p>
        <p>Memory size: <%= @ram.memory %></p>
        <p>Memory speed: <%= @ram.memory_speed %></p>
        <p>Timings: <%= @ram.timings %></p>
        <p>Price: <%= number_to_currency(@ram.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_ram_path(@ram) %>
        <%= button_to 'Delete component', ram_path(@ram), method: :delete %><br>
        <%= link_to "All RAMs", rams_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
