
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @cooler.brand %></h1>
      <% if @cooler.image.attached? %>
        <div>
          <%= image_tag(@cooler.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Brand: <%= @cooler.brand %></p>
        <p>Socket: <%= @cooler.socket %></p>
        <p>Max fan speed: <%= @cooler.fan_speed %></p>
        <p>Noice level: <%= @cooler.noise_level %></p>
        <p>Maximum TDP: <%= @cooler.max_tdp %></p>
        <p>Цена: <%= number_to_currency(@cooler.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_cooler_path(@cooler) %>
        <%= button_to 'Delete component', cooler_path(@cooler), method: :delete %><br>
        <%= link_to "All Coolers", coolers_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
