<h1>Create new GPU</h1>

<%= form_with(model: @gpu, local: true) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :memory %>
    <%= form.number_field :memory, class: 'form-control' %><br>
    <%= form.label :core_clock %>
    <%= form.number_field :core_clock, class: 'form-control' %><br>
    <%= form.label :boost_clock %>
    <%= form.text_field :boost_clock, class: 'form-control' %><br>
    <%= form.label :bus_width %>
    <%= form.number_field :bus_width, class: 'form-control' %><br>
    <%= form.label :tdp %>
    <%= form.text_field :tdp, class: 'form-control' %><br>
    <%= form.label :memory_type %>
    <%= form.text_field :memory_type, class: 'form-control' %><br>
    <%= form.label :interface %>
    <%= form.text_field :interface, class: 'form-control' %><br>
    <%= form.label :compatible_interface %>
    <%= form.text_field :compatible_interface, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.01, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', gpus_path %>
