
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @gpu.model %></h1>
      <% if @gpu.image.attached? %>
        <div>
          <%= image_tag(@gpu.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Brand: <%= @gpu.brand %></p>
        <p>Memory size: <%= @gpu.memory %></p>
        <p>Core clock: <%= @gpu.core_clock %></p>
        <p>Boost clock: <%= @gpu.boost_clock %></p>
        <p>Memory type: <%= @gpu.memory_type %></p>
        <p>Interface: <%= @gpu.interface %></p>
        <p>Price: <%= number_to_currency(@gpu.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_gpu_path(@gpu) %>
        <%= button_to 'Delete component', gpu_path(@gpu), method: :delete %><br>
        <%= link_to "All Gpus", gpus_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
