<h1>Create new MOTHERBOARD</h1>

<%= form_with(model: @motherboard, local: true) do |form| %>
  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, class: 'form-control' %><br>
    <%= form.label :brand %>
    <%= form.text_field :brand, class: 'form-control' %><br>
    <%= form.label :chipset %>
    <%= form.text_field :chipset, class: 'form-control' %><br>
    <%= form.label :form_factor %>
    <%= form.text_field :form_factor, class: 'form-control' %><br>
    <%= form.label :memory_slots %>
    <%= form.text_field :memory_slots, class: 'form-control' %><br>
    <%= form.label :max_memory %>
    <%= form.text_field :max_memory, class: 'form-control' %><br>
    <%= form.label :memory_type %>
    <%= form.text_field :memory_type, class: 'form-control' %><br>
    <%= form.label :memory_clock %>
    <%= form.number_field :memory_clock, class: 'form-control' %><br>
    <%= form.label :socket %>
    <%= form.text_field :socket, class: 'form-control' %><br>
    <%= form.label :pci %>
    <%= form.text_field :pci, class: 'form-control' %><br>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01, class: 'form-control' %><br>
    <%= form.label :rating %>
    <%= form.number_field :rating, step: 0.01, class: 'form-control' %><br>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', motherboards_path %>
