
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @motherboard.model %></h1>
      <% if @motherboard.image.attached? %>
        <div class="component-pic">
          <%= image_tag(@motherboard.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Brand: <%= @motherboard.brand %></p>
        <p>Chipset: <%= @motherboard.chipset %></p>
        <p>Maximum memory: <%= @motherboard.max_memory %></p>
        <p>Socket: <%= @motherboard.socket %></p>
        <p>PCI: <%= @motherboard.pci %></p>
        <p>Price: <%= number_to_currency(@motherboard.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_motherboard_path(@motherboard) %>
        <%= button_to 'Delete component', motherboard_path(@motherboard), method: :delete %><br>
        <%= link_to "All motherboards", motherboards_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
