
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <header class="header">
        <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'Configurator', configurator_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'About Us', about_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <div class="basket">
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px", alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @motherboard.brand %></h1>
      <% if @motherboard.image.attached? %>
        <div>
          <%= image_tag(@motherboard.image) %>
        </div>
      <% end %>
      <p>Бренд: <%= @motherboard.brand %></p>
      <p>Тип памяти: <%= @motherboard.memory_type %></p>
      <p>Цена: <%= number_to_currency(@motherboard.price) %></p>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_motherboard_path(@motherboard) %>
        <%= button_to 'Delete component', motherboard_path(@motherboard), method: :delete %><br>
        <%= link_to "All motherboards", motherboards_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <footer class="footer">
      <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'Configurator', configurator_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'About Us', about_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <ul class="social">
            <li class="social__item">
              <%= link_to(image_tag("logos/yt.png", height: "40px", alt: "cart"), "https://www.youtube.com/") %>
            </li>
            <li class="social__item">
              <%= link_to(image_tag("logos/tg.png", height: "40px", alt: "cart"), "https://telegram.org/") %>
            </li>
            <li class="social__item">
              <%= link_to(image_tag("logos/inst.png", height: "40px", alt: "cart"), "https://www.instagram.com/") %>
            </li>
          </ul>
        </nav>
    </footer>
<!-- footer section ends -->
    </div>
  </body>
</html>
