<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "main", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <header class="header">
        <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'Configurator', configurator_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'About Us', about_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <div class="basket">
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px", alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
<!-- main section starts -->
   <main class="cfg-main">
    <div class="container-configurator">
      <h1 class="heading">Welcome to the PC Configurator!</h1>
      <p class="subheading">Ready to create your perfect gaming computer in just a few simple steps? We've made the process as easy and quick as possible, so you can dive into the world of gaming without any hassle.</p>
      <div class="steps">
        <div class="step">
          <h2 class="step-heading">Step 1: Choose a Game</h2>
          <p class="step-description">On the first step, you need to select one game that you want to play on your new computer. Whether it's a modern shooter, an exciting role-playing game, or a thrilling racing arcade - you have a choice!</p>
        </div>
        <div class="step">
          <h2 class="step-heading">Step 2: Specify Your Budget</h2>
          <p class="step-description">On the second step, you need to specify your budget that you want to stay within while building your computer. We'll offer you optimal options based on your preferences and requirements.</p>
        </div>
        <div class="step">
          <h2 class="step-heading">Step 3: Choose Preferences</h2>
          <p class="step-description">On the third step, you can optionally choose preferences for component manufacturers and customize your PC to your liking. Choose from top brands and enjoy the customization of your future computer.</p>
        </div>
      </div>
      <p class="final-text">And that's it! In just a few seconds, you'll get a perfectly tailored computer ready for your gaming adventures. Creating your own gaming PC has never been easier and faster.</p>
      <%= link_to "Start Building Now", step1_path, class: "start-button" %>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <footer class="footer">
      <nav class="nav">
          <div class="logo">
            <%= link_to 'PCFG', root_path, class:'logo' %>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <%= link_to 'Home', root_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
               <%= link_to 'Catalogue', catalogue_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'Configurator', configurator_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'News', news_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'About Us', about_path, class:'menu__link' %>
            </li>
            <li class="menu__list">
              <%= link_to 'FAQ / Support', support_path, class:'menu__link' %>
            </li>
          </ul>
          <ul class="social">
            <li class="social__item">
              <%= link_to(image_tag("logos/yt.png", height: "40px", alt: "cart"), "https://www.youtube.com/") %>
            </li>
            <li class="social__item">
              <%= link_to(image_tag("logos/tg.png", height: "40px", alt: "cart"), "https://telegram.org/") %>
            </li>
            <li class="social__item">
              <%= link_to(image_tag("logos/inst.png", height: "40px", alt: "cart"), "https://www.instagram.com/") %>
            </li>
          </ul>
        </nav>
    </footer>
<!-- footer section ends -->
    </div>
  </body>
</html>
