<h1>Шаг 3: Выберите производителя, корпус и тип накопителя</h1>
<%= form_tag(step3_submit_path) do %>
  <%= label_tag 'manufacturer', 'Производитель:' %>
  <%= radio_button_tag 'manufacturer', 'AMD' %>
  <%= label_tag 'manufacturer_amd', 'AMD' %>
  <%= radio_button_tag 'manufacturer', 'Intel' %>
  <%= label_tag 'manufacturer_intel', 'Intel' %>
  <%= radio_button_tag 'manufacturer', 'NVIDIA' %>
  <%= label_tag 'manufacturer_nvidia', 'NVIDIA' %>
  <br>
  <%= label_tag 'has_rig', 'Добавить корпус:' %>
  <%= check_box_tag 'has_rig', '1', session[:selected_has_rig], id: 'has_rig' %>
  <%= label_tag 'has_rig_label', 'Да', for: 'has_rig' %>
  <br>
  <%= label_tag 'storage_type', 'Тип накопителя:' %>
  <%= radio_button_tag 'storage_type', 'HDD' %>
  <%= label_tag 'storage_type_hdd', 'HDD' %>
  <%= radio_button_tag 'storage_type', 'SSD' %>
  <%= label_tag 'storage_type_ssd', 'SSD' %>
  <%= radio_button_tag 'storage_type', 'Both' %>
  <%= label_tag 'storage_type_both', 'HDD и SSD' %>
  <br>
  <%= submit_tag 'Далее' %>
<% end %>
