<!DOCTYPE html>
<html>
  <head>
    <title>Step 1: Choose game</title>
    <%= render 'layouts/head' %>
  </head>
    <!-- header section starts -->
      <%= render 'layouts/header' %>
    <!-- header section ends -->
  <body class="step1">
   <div class="container">
    <h1 class="step1-title">Step 1: Choose game</h1>
      <%= form_tag(step1_submit_path) do %>
        <% @games.each do |game| %>
          <div class="all-games_step1 ">
            <p class="radio">
              <%= radio_button_tag :selected_game_id, game.id %>
              <%= label_tag "game_#{game.id}", game.title %>
            </p>
          </div>
        <% end %>
        <%= button_tag "Back", type: "button", onclick: "history.go(-1);", class: "button-step1" %>
        <%= submit_tag "Next step", class: "button-step1" %>
      <% end %>
      <h3 class="note_cfg">important note:</h3>
      <p class="step-descr">
        On this page you can choose the game for which the configurator will match your computer. The choice of the game is important, because different games have different system requirements, which leads to significant differences in the cost of the computer.
        For example, if you choose a game with high graphics and CPU requirements, the configurator may pick a more expensive computer than for a game with lower requirements.<br>
        If you already know that your chosen game requires a powerful computer, in the next step you can specify your budget based on that choice. Otherwise, if you are not sure what you need, you can leave the budget field empty and the system will choose the best option for you without budget restrictions.<br>
        So, choosing a game at this step is the first important step in selecting the most suitable computer for your needs.On this page you can choose the game for which the configurator will match your computer. The choice of the game is important, because different games have different system requirements, which leads to significant differences in the cost of the computer.
        For example, if you choose a game with high graphics and CPU requirements, the configurator may pick a more expensive computer than for a game with lower requirements.<br>
        If you already know that your chosen game requires a powerful computer, in the next step you can specify your budget based on that choice. Otherwise, if you are not sure what you need, you can leave the budget field empty and the system will choose the best option for you without budget restrictions.
        So, choosing a game at this step is the first important step in selecting the most suitable computer for your needs.
      </p>
    </div>
  </body>
    <!-- footer section starts -->
      <%= render 'layouts/footer' %>
    <!-- footer section ends -->
</html>
