<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="header">
      <div clas="logo">PC Configurator logo</div>
      <p>PC Configurator</p>

      <ul>
          <span class="mt"><%= link_to "Home", root_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "Catalogue", components_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "Configurator", configurator_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "News", news_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "About us", about_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "FAQ / Support", support_path, class: 'button button-main' %></span>
          <span class="mt"><%= link_to "My Cart", cart_path, class: 'button button-main' %></span>
      </ul>
    </div>

    <div class="main">
      <div class="wrapper">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
