<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/boge" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag('styles') %>
  </head>
  <body>

    <header class="header">
        <nav class="nav">
          <div class="logo" href="#">
            <a class="logo" href="#">Pcfg</a>
          </div>
          <ul class="menu">
            <li class="menu__list">
              <a class="menu__link" href="#">Home</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Catalogue</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">Configurator</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">News</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">About Us</a>
            </li>
            <li class="menu__list">
              <a class="menu__link" href="#">FAQ / Support</a>
            </li>
          </ul>
          <div>
            <a class="basket" href="#">
              <%= image_tag ("logos/cart.png"), height:"40px" ,alt:"cart" %>
              <!-- <span>1</span> -->
            </a>
          </div>
          <div class="menu__login">
            <ul class="menu__login">
              <li class="menu__list">
                <a class="menu__link" href="#">Sing up</a>
              </li>
              <li class="menu__list">
                <a class="menu__link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>
<!-- header section ends -->
    <main class="main">
      <section class="top">
        <div class="container">
          <div class="top__innner">
            <h1 class="title">PC Configurator & Store</h1>
            <p class="subtitle">Try out new possibilities now!</p>
            <p class="top__text">or visit our catalogue and find something you like</p>
            <button class="buy-btn">
              <span class="buy-btn__text">Configure Now!</span>
              <span class="buy-btn__price">Free</span>
            </button>
          </div>
        </div>
      </section>
    </main>
    <footer>
    </footer>
    </div>
  </body>
</html>
