<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="wrapper">

      <header>
        <div class="logo"><%= image_tag("logos/logo.png", height:'70px', alt:'') %></div>
        <h1>PC Configurator</h1>

        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Catalogue", components_path %></li>
            <li><%= link_to "Configurator", configurator_path %></li>
            <li><%= link_to "News", news_path %></li>
            <li><%= link_to "About us", about_path %></li>
            <li><%= link_to "FAQ / Support", support_path %></li>

          </ul>
        </nav>

        <div>
          <nav>
              <ul>
                <li><%= link_to "My Cart", cart_path %></li>
                <li><%= link_to "Login", login_path %></li>
              </ul>
          </nav>
        </div>
      </header>

      <main>
        <%= yield %>
      </main>

      <footer>
        <h5>Copyright &copy<%= Time.now.year %></h5>
      </footer>
    </div>
  </body>
</html>
