<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h2 class="components__title-all">Rig</h2>
      <div class="component__logo all__components">
        <% @rigs.each do |rig| %>
          <div class="component__item">
            <div class="component__title-main"><%= link_to rig.brand, "/rigs/#{rig.id}" %></div>
            <%= image_tag(rig.image) %>
            <div class="component__description"><br>
              <%= rig.model %>
              <span class="description__label"></span>
              <% rating = rig.rating.round(1) %>
              <span class="stars">
                <% for i in 1..5 do %>
                  <% if rating >= i %>
                    <%= image_tag('bg/star.png') %>
                  <% elsif rating >= i - 0.5 && rating < i %>
                    <%= image_tag('bg/half-star.png') %>
                  <% else %>
                    <%= image_tag('bg/empty-star.png') %>
                  <% end %>
                <% end %>
              </span>
              <span class="price__label">Price: <%= rig.price %> $USD</span>
              <span class="more__info"><%= link_to 'See more', "/rigs/#{rig.id}" %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>
