
<!DOCTYPE html>
<html>
  <head>
    <title>PCFG Support</title>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag('/support/styles') %>
  </head>
  <body>
<!-- header section starts -->
    <%= render 'layouts/header' %>
<!-- header section ends -->
<!-- main section starts -->
   <main style="background: linear-gradient(to bottom, #000000, #1a0d0d, #1a0d0d, #000000)">
    <div class="container">
      <h1><%= @rig.brand %></h1>
      <% if @rig.image.attached? %>
        <div class="component-pic">
          <%= image_tag(@rig.image) %>
        </div>
      <% end %>
      <div class="main__component-info">
        <p>Model: <%= @rig.model %></p>
        <p>Form factor: <%= @rig.form_factor %></p>
        <p>Price: <%= number_to_currency(@rig.price) %></p>
      </div>
      <div class="action-buttons__all">
        <%= link_to "Edit component", edit_rig_path(@rig) %>
        <%= button_to 'Delete component', rig_path(@rig), method: :delete %><br>
        <%= link_to "All Rigs", rigs_path %>
      </div>
    </div>
   </main>
<!-- main section ends -->
<!-- footer section starts -->
    <%= render 'layouts/footer' %>
<!-- footer section ends -->
    </div>
  </body>
</html>